@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
  --color-background: hsl(0, 0%, 98%);
  --color-itemBackground: white;
  --color-itemTextColor: hsl(233, 14%, 35%);
  --color-circleBorderInactive: hsl(233, 11%, 84%);
  --color-filterText: hsl(236, 9%, 61%);
  --color-filterTextHover: hsl(235, 19%, 35%);
  --color-brightBlue: hsl(220, 98%, 61%);
  --color-checkBackground: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  --headerImageDesktop: url('./assets/bg-desktop-light.jpg');
  --headerImageMobile: url('./assets//bg-mobile-light.jpg');
}

[theme='dark']{
  --color-background: hsl(235, 21%, 11%);
  --color-itemBackground: hsl(234deg 25% 19%);
  --color-itemTextColor: hsl(233, 11%, 84%);
  --color-circleBorderInactive: hsl(233, 14%, 35%);
  --color-filterText: hsl(234, 11%, 52%);
  --color-filterTextHover: hsl(233, 11%, 84%);

  --headerImageDesktop: url('./assets/bg-desktop-dark.jpg');
  --headerImageMobile: url('./assets//bg-mobile-dark.jpg');
}

* {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body .dark{
  background-color: red;
}